.bAddTask__box {
	position: relative;
}
.bAddTask__done {
	position: absolute;
	right: 15px;
	top: 10px;
}
.bCoomentDate {
	display: inline-block;
	padding-left: 5px;
}
.bComment .card-body{
	padding: 0.9rem;
}
.table {
	transition: 0.7s;
}
.bLoading {
	overflow: hidden;
}
.bLoading_active .table {
	filter: blur(5px);
}
.bLoading__title {
	display: block;
	width: 100%;
	min-height: 38px;
	display: flex;
	align-items: center;
	transition: 0.8s;
}

.bLoading__title.bLoading_active:before {
	content: '';
	display: block;
	height: 20px;
	width: 30%;
	background-color: rgba(0, 0, 0, 0.13);
	margin-top: 6px;
}
.externalLinkProject {
	padding-left: 8px;
	color: #ff720f;
}