.c-editor-container {
	position: relative;
}
.public-DraftEditor-content {
	min-height: 80px;
}
.c-editor-container p {
	min-height: 17px;
}

.editor {
	border: 1px solid #ced4da;
	border-radius: 0.25rem;
	cursor: text;
	font-size: 16px;
	min-height: 40px;
	padding: 10px;
}

.section-name {
	font-size: 14px;
	font-family: "Lucida Console", Monaco, monospace;
}

.result-wrapper {
	margin-top: 35px;
}

.section-name {
	font-size: 14px;
	font-family: "Lucida Console", Monaco, monospace;
}

.button {
	margin-top: 10px;
	text-align: center;
	margin-right: 10px;
}

.bold {
	font-weight: bold;
}

.italic {
	font-style: italic;
}

.link {
	text-decoration: underline;
	color: #00f;
}

.highlight {
	background-color: #98fb98;
}

.markup-container {
	padding: 10px;
}